h1{
    font-size: 52px;
    margin: 2rem auto 3rem;
    color: #343c40;
}

table img{
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;

}

table{
    width: 50%;
    margin: auto;
    padding: 1.3rem;
}

td, th{
    width: 30%;
}

thead{
    font-weight: bold;
}

.cantidad, .precio{
    font-weight: bold;
    font-size: 24px;
}

.total{
    width: 50%;
    margin: auto;
    text-align: right;
    font-size: 32px;
    margin-bottom: 3rem;
}

.contenido{
    margin-top: 2rem;
    border-bottom: 1px solid grey;
}

#footerraro{
    
}


@media screen 
and (min-device-width : 390px) 
and (max-device-width: 900px) {
    table img{
        width: 7rem;
        
    }

    section{
        justify-content: center;
    }
    table{
        width: 100%;
    }
    .total{
        text-align: center;
        width: 80%;
        line-height: 3rem;
    }
    
}

@media screen 
and (min-device-width : 390px) 
and (max-device-width: 410px) {
    table{
        padding: 0;
    }
}